/* 
    Document   : MyCSS
    Created on : 04/06/2013, 15:49:07
    Author     : luciano
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

#container{
    width: 860px;
    margin:0 auto;			
    text-align:left;
    background-color: #99CCFF;
}

#container_topo{
    height: 150px;
    border-color: gray black black gray;
    border-width:none thin think thin;
    border-style: solid;
    
    text-align: center;
    background-color: chartreuse;
}

#container_menu{
    width: 190px;
    border-color: gray black black gray;
    border-width:none thin think thin;
    border-style: solid;
    
    text-align: left;
    background-color: burlywood;
    float: left;
}

#container_menu_item{
    border-color: gray black black gray;
    border-width:none thin think thin;
    border-style: solid;
    
    padding-left: 10px;
    padding-right: 10px;
}

#container_principal{
    border-color: gray black black gray;
    border-width:none thin think thin;
    border-style: solid;
    
    float: right;
    width: 658px;
    background-color: darkorange;
}
